GOTODOLIST_SERVER_HOST=0.0.0.0
GOTODOLIST_SERVER_PORT=8080

GOTODOLIST_LOG_LEVEL=debug
GOTODOLIST_APP_ENVIRONMENT=local
GOTODOLIST_APP_ENABLE_CORS=true
GOTODOLIST_APP_ALLOWORIGINS=*

GOTODOLIST_DATABASE_MYSQL_HOST=127.0.0.1
GOTODOLIST_DATABASE_MYSQL_PORT=3306
GOTODOLIST_DATABASE_MYSQL_USERNAME=root
GOTODOLIST_DATABASE_MYSQL_PASSWORD=12345678
GOTODOLIST_DATABASE_MYSQL_DBNAME=gotodolist_db
GOTODOLIST_DATABASE_MYSQL_MAXIDLECONNS=10
GOTODOLIST_DATABASE_MYSQL_MAXOPENCONNS=100
GOTODOLIST_DATABASE_MYSQL_CONNMAXLIFETIME=1h
GOTODOLIST_DATABASE_LOG_LEVEL=4

GOTODOLIST_MIGRATE_AUTO=true
GOTODOLIST_MIGRATE_MYSQL_HOST=localhost
GOTODOLIST_MIGRATE_MYSQL_PORT=3306
GOTODOLIST_MIGRATE_MYSQL_USERNAME=root
GOTODOLIST_MIGRATE_MYSQL_PASSWORD=12345678
GOTODOLIST_MIGRATE_MYSQL_DBNAME=gotodolist_db

GOTODOLIST_JWT_SECRET=kmzway87aa